.content {

    background-color: #ffffff;
    border: 15px solid #dddddd;
    padding: 50px;
    margin: 20px;
    float:none;
  }

body {
    background-image: url('assets/images/dot-grid.png');
    background-repeat: repeat;
   }

.nico {

  background-color: #4aaaa5;
  padding: 10px, 20px, 10px, 20px;
  font-size: 20px;
}

.nico,
h1,
h2 {

  font-family: 'Georgia', Times, Times New Roman, serif;
}


header,{

    padding: 20px;
    margin-bottom: 10px;
    background-color: #4aaaa5;
  }

pre {

    float: right;
}



.link {

    float: right

}


h2 {


}


img {
    float: none;
  }